html,
body {
  /* Workaround for slight content shift when zooming into an image */
  /* (the library sets the width to fixed value, which is off by 1 pixel)*/
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scroll-bar-size: 12px;

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 25%);
  }

  ::-webkit-scrollbar {
    right: 0;
    width: var(--scroll-bar-size);
    height: var(--scroll-bar-size);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 25%);
    border-radius: 2px;
    width: var(--scroll-bar-size);
    height: var(--scroll-bar-size);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 50%);
  }

  /* See: https://rpearce.github.io/react-medium-image-zoom/?path=/story/img--custom-modal-styles */

  [data-rmiz-modal-overlay="visible"] {
    background-color: rgb(0, 0, 0, 75%);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
